div(class="column")
  div(class="card")
    div(class="card-body")
      h5(class="card-title") DESCRIPCION
      p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis convallis porta. Sed dictum interdum justo, in pharetra arcu mattis vitae. Duis euismod ultrices lacinia. Proin tempor rhoncus lectus, quis auctor turpis feugiat non. Sed eget venenatis ipsum. Vivamus porta, tortor a vulputate finibus, velit justo luctus ex, et molestie metus nulla nec justo.
  div(class="card")
    div(class="card-body")
      h5 Caracteristicas
      div(class="row" style="margin-left: 0px; margin-right: 0px;")
        div(class="col-6")
          div(class="row") Marca:   FENUTTI
          div(class="row") Tipo De Zapato:   Bostoniano
          div(class="row") Material:   Piel
          div(class="row") Material Suela:   Sintética
        div(class="col-6")
          div(class="row") Fijacion:   Agujeta 
          div(class="row") Otra Informacion:   Estilo moderno 
          div(class="row") Hecho en:   México 
          div(class="row") Instrucciones de Cuidado y Limpieza:   Limpiar con un paño húmedo o líquido especial para piel
