div(container)
  div(class="row")
    div(class="col-5")
      div(class="row")
        div(class="col-3")
          img(src="https://picsum.photos/51/51/?image=1")
          img(src="https://picsum.photos/51/51/?image=2")
          img(src="https://picsum.photos/51/51/?image=3")
          img(src="https://picsum.photos/51/51/?image=4")
        div(class="col-9")
          img(src='https://picsum.photos/400/400/?image=1', style="width:100%")
    div(class="col-4")
      h4 Zapato Driver JBE VINO
      h6 Codigo de producto: 45678976543
      div estrellas
      h5 $799.90
      h2 $479.20
      h5#current-color COLOR VINO
      div#colors
      h5 SELECCIONA TALLA
      div(class="dropdown")
        button(class="btn dropdown-toggle", type="button", id="dropdownMenuButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") TALLA
        div(class="dropdown-menu", aria-labelledby="dropdownMenuButton")
          button(class="dropdown-item", id="us-size-item", type="button", onclick='setSizes("us")') US
          button(class="dropdown-item", id="mx-size-item", type="button", onclick='setSizes("mx")') MX
      div#sizes
        ul
          li 25
          li 26
          li 27
          li 28
      h5 DESCRIPCION
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis convallis porta. Sed dictum interdum justo, in pharetra arcu mattis vitae. Duis euismod ultrices lacinia. Proin tempor rhoncus lectus, quis auctor turpis feugiat non. Sed eget venenatis ipsum. Vivamus porta, tortor a vulputate finibus, velit justo luctus ex, et molestie metus nulla nec justo.
    div(class="col-3") AÑADIR A CARRITO