nav(class="navbar navbar-light bg-light")
  a(class="navbar-brand", href="#")
    img(src="//assets.liverpool.com.mx/assets/web/logos/liverpool_logo.gif", width="190", height="53", alt="Liverpool - es parte de mi vida", title="Liverpool - es parte de mi vida")
