doctype html
html
  include ../includes/head.pug
  body
    include ./header.pug
    include ./generalSumary.pug
    include ./descriptionAndPromotions.pug
    include ./similarProducts.pug
    include ./recomendations.pug
    include ./footer.pug